html, body {
  height: 100%; 
  margin: 0; 
  padding: 0;  
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("backgr.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
}

h1 {
  font-size: 50px;
  color: black;
}

.bigger-text{
  color: white;
  -webkit-text-stroke: 3px black;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 40px;
  color: black;
}
.smaller-text{
  color: white;
  -webkit-text-stroke: 2px black;
  font-family: Arial, Helvetica, sans-serif;
}
button {
  background-color: white;
  color: black;
  font-size: 35px;
  margin: auto;
}

/* scoreboard */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup:target {
  display: block;
}

/* Buttons */
.button-container {
  text-align: center; 
  margin-top: 20px; 
}

.button-link {
  display: block;
  margin: 0 auto 10px;
  padding: 10px 20px;
  width: 120px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-link:hover {
  background-color: black;
  color: white;
}
/* Center the popup content */
.popup-content {
  background-color: white;
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Add styles to the close button */
.close-popup {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.close-popup:hover {
    background-color: #d32f2f;
}

/* Align the player names to the left */
.left1 {
    text-align: left;
}
.left2 {
    text-align: left;
}

/* Align the highscores to the right */
.right {
    text-align: right;
}

/* Style the emoji */
.emoji {
    font-size: 1.2em;
}

/* Vertically align the highscore and emoji */
.highscore {
    horizontal-align: middle;
}


/* Set table layout to fixed */
.scoreboard-table {
    text-align: center;
    table-layout: fixed;
    width: 100%;
}