<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/styles/cssandjs/gameBoard.css}" rel="stylesheet" />
</head>

<body>
<div class="split left">
  <div class="background-container-left">
    <img class="celebrity-image"
         th:src="@{/styles/cssandjs/Images/{id}.jpg(id=${celebrityLeft.id})}"
         alt="Celebrity Image"
         th:classappend="${celebrityLeft.country == 'LT' ? 'border-lt' : 'border-lv'}">
    <div class="known-celebrity">
      <div id="known-celebrity-name"></div>
      <li th:each="celebrityLeft : ${celebrityLeft}">
        <span th:text="${celebrityLeft.name}"></span>
      </li>
      <div id="known-celebrity-country"></div>
      <div id="known-celebrity-search-count"></div>
      <span th:text="${celebrityLeft.googleSearchCount}"></span>
    </div>
  </div>
</div>

<div class="split right">
  <div class="background-container-right">
    <img class="celebrity-image"
         th:src="@{/styles/cssandjs/Images/{id}.jpg(id=${celebrityRight.id})}"
         alt="Celebrity Image"
         th:classappend="${celebrityRight.country == 'LV' ? 'border-lv' : 'border-lt'}">
    <div class="not-known-celebrity">
      <div class="celebrity-info">
        <div id="not-known-celebrity-name"></div>
        <li th:each="celebrityRight : ${celebrityRight}">
          <span th:text="${celebrityRight.name}"></span>
        </li>
        <div id="not-known-celebrity-country"></div>
      </div>
      <div class="button-container">
        <div th:if="${answer}">
          <a class="buttons" th:attr="onclick='window.location.href=\'' + @{/game-board/} + ${celebrityRightID} + '\''">Higher</a>
        </div>
        <div th:unless="${answer}">
          <a class="buttons" onclick="location.href = '../';">Higher</a>
        </div>
      </div>
      <div class="button-container">
        <div th:if="${answer}">
          <a class="buttons" onclick="location.href = '../';">Lower</a>
        </div>
        <div th:unless="${answer}">
          <a class="buttons" th:attr="onclick='window.location.href=\'' + @{/game-board/} + ${celebrityRightID} + '\''">Lower</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
