<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/styles/cssandjs/homepage.css}" rel="stylesheet" />
    </head>
    <body>
        <div  id="root">
            <section class="homepage-chooser">
            <h1 class="bigger-text">The Higher or Lower Game<br>Bralukai edition</h1>
            <h2 class="smaller-text"><strong>What gets Googled more?</strong></h2>
                
            <div class="button-container">
                <a onclick="location.href = '../choice';" id="play" class="button-link">Play</button>
                <a href="#scoreboard-popup" class="button-link">View Scoreboard</a>
            </div>
        </div>
        <div id="scoreboard-popup" class="popup">
            <div class="popup-content">
                <h2>Scoreboard</h2>
                <!-- Your scoreboard content here -->
                <a href="#" class="close-popup">Close</a>
            </div>
        </div>
    </body>
</html>