<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/styles/cssandjs/homepage.css}" rel="stylesheet" />
</head>
<body>
<div id="root">
    <section class="homepage-chooser">
        <h1 class="bigger-text">The Higher or Lower Game<br>Bralukai edition</h1>
        <h2 class="smaller-text"><strong>What gets Googled more?</strong></h2>

        <div class="button-container">

            <a th:if="${loggedIn}" onclick="playRandomGame();" id="play" class="button-link">Play</a>
            <a th:if="${!loggedIn}" href="/login" class="button-link">Log in first!</a>
            <a th:if="${loggedIn}" href="/logout" class="button-link">Logout</a>
            <a href="#how-to-play-popup" class="button-link">How to Play?</a>
            <a href="#scoreboard-popup" class="button-link">View Scoreboard</a>
        </div>
    </section>
</div>
<div id="scoreboard-popup" class="popup">
    <div class="popup-content">
        <h2>Scoreboard</h2>
        <table class="scoreboard-table">
            <thead>
            <tr>
                <th class="left1">Name</th>
                <th class="right">Highscore</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="player, playerStat : ${Score}">
                <td class="left1" th:text="${player.name}"></td>
                <td class="right">
                    <span th:text="${player.highscore}">&nbsp;</span>
                </td>
                <td class="left2">
                    <span th:if="${playerStat.index == 0}" class="emoji">🥇</span>
                    <span th:if="${playerStat.index == 1}" class="emoji">🥈</span>
                    <span th:if="${playerStat.index == 2}" class="emoji">🥉</span>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="#" class="close-popup">Close</a>
    </div>
</div>
<div id="how-to-play-popup" class="popup">
    <div class="popup-content">
        <h2>How to Play?</h2>
        <div style="text-align: left; font-size: 125%">
            <p>Step 1: Make a profile or log in!</p>
            <p>Step 2: Press Play!</p>
            <p>Step 3: Look at the celebrity on the left</p>
            <p>Step 4: Think! Does the celebrity on the right have more or less monthly searches?</p>
            <p>Step 5: Repeat steps 3 and 4 until you make a mistake</p>
            <p>Step 6: Submit your score to the leaderboard and play again or log out</p>
        </div>
        <a href="#" class="close-popup">Close</a>
    </div>
</div>

<script>
    function playRandomGame() {
        // Generate a random number between 1 and 96
        var randomNumber = Math.floor(Math.random() * 96) + 1;

        // Construct the new URL
        var newURL = '/game-board/' + randomNumber;

        // Redirect to the new URL
        location.href = newURL;
    }

</script>
</body>
</html>
