<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/styles/cssandjs/login.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="login-block">
            <h2>Log in</h2>
            <form id="login-form" th:action="@{/login}" method="post">
                <input type="text" name="name" placeholder="Name" required /><br>
                <input type="password" name="password" placeholder="Password" required /><br>
                <a href="#" onclick="submitForm();" class="button-link">Log in</a><br>
            </form>
            <a href="/signup" class="button-link">Not a user?</a>
        </div>
    </body>
    <script>
        function submitForm() {
            document.getElementById('login-form').submit();
        }
    </script>
</html>