<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/styles/cssandjs/login.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="signup-block">
            <h2>Sign up</h2>
            <form id="signup-form" th:action="@{/signup}" method="post">
                <input type="text" name="name" placeholder="Name" required /><br>
                <input type="password" name="password" placeholder="Password" required /><br>
                <input type="number" name="age" placeholder="Age" value="0" min="7" required /><br>
                <a href="#" class="button-link" onclick="submitForm();">Create Account</a><br>
            </form>
            <a href="/login" class="button-link">Already a user?</a>
        </div>
    </body>
    <script>
        function submitForm() {
            document.getElementById('signup-form').submit();
        }
    </script>
</html>